Repository dreamchasersuon/publisher-board: changes, and which lefthook commands are due for each by the changed paths.
All: lint, style, format

lint:
  run: yarn eslint {staged_files}

style:
  run: yarn stylelint {staged_files}

format:
  run: yarn format {staged_files}

add github actions for deployment
  .github/main.workflow
Due: none

add script to build app with Now
  package.json
Due: none

add table with testing users array
  src/components/table/Table.css
  src/components/table/Table.js
  src/components/table/Table.test.js
  src/components/table/table-body/TableBody.js
  src/components/table/table-body/actions.svg
  src/components/table/table-body/th/Th.css
  src/components/table/table-body/th/Th.js
  src/components/table/table-head/TableHead.css
  src/components/table/table-head/TableHead.js
  src/components/table/table-head/th/Th.css
  src/components/table/table-head/th/Th.js
  src/components/table/users.js
Due: lint, style, format

add margin bottom to header component
  src/App.css
  src/App.js
  src/components/header/Header.css
Due: lint, style, format

add popover
  src/components/popover/Popover.css
  src/components/popover/Popover.js
Due: lint, style, format

install dependencies, add scripts
  package.json
  yarn.lock
Due: none

move fonts to cdn, add fontawesome
  public/index.html
  src/assets/fonts/Montserrat-Regular.ttf
  src/assets/fonts/Roboto-Regular.ttf
Due: none

add redux logic, root with providers and fetcher
  src/Root.js
  src/constants/api.js
  src/index.css
  src/index.js
  src/libs/fetcher.js
  src/redux/features/__snapshots__/errors-slice.test.js.snap
  src/redux/features/__snapshots__/settings-slice.test.js.snap
  src/redux/features/__snapshots__/success-slice.test.js.snap
  src/redux/features/errors-slice.test.js
  src/redux/features/errorsFeatureSlice.js
  src/redux/features/settings-slice.test.js
  src/redux/features/settingsFeatureSlice.js
  src/redux/features/success-slice.test.js
  src/redux/features/successFeatureSlice.js
  src/redux/reducers.js
  src/redux/store.js
Due: lint, style, format

add root error boundary
  src/ErrorBoundary.js
Due: lint, format

add table with tests
  src/components/table/Table.js
  src/components/table/Table.test.js
  src/components/table/table-body/TableBody.js
  src/components/table/table-body/td/Td.css
  src/components/table/table-body/td/Td.js
  src/components/table/table-body/td/Td.test.js
  src/components/table/table-body/td/__snapshots__/Td.test.js.snap
  src/components/table/table-body/tr/Tr.js
  src/components/table/table-body/tr/Tr.test.js
  src/components/table/table-body/tr/__snapshots__/Tr.test.js.snap
  src/components/table/table-footer/TableFooter.css
  src/components/table/table-footer/TableFooter.js
  src/components/table/table-footer/TableFooter.test.js
  src/components/table/table-footer/__snapshots__/TableFooter.test.js.snap
  src/components/table/table-head/th/Th.css
  src/components/table/table-head/th/Th.js
  src/components/table/table-head/th/Th.test.js
  src/components/table/users.js
Due: lint, style, format

add header with tests
  src/components/header/Header.css
  src/components/header/Header.js
  src/components/header/Header.test.js
  src/components/header/__snapshots__/Header.test.js.snap
Due: lint, style, format

add modal with tests
  src/components/modal/Modal.css
  src/components/modal/Modal.js
  src/components/modal/Modal.test.js
  src/components/modal/__snapshots__/Modal.test.js.snap
  src/components/modal/body/ModalBody.css
  src/components/modal/body/ModalBody.js
  src/components/modal/footer/ModalFooter.css
  src/components/modal/footer/ModalFooter.js
  src/components/modal/footer/ModalFooter.test.js
  src/components/modal/footer/__snapshots__/ModalFooter.test.js.snap
  src/components/modal/header/ModaHeader.css
  src/components/modal/header/ModalHeader.js
  src/components/modal/header/ModalHeader.test.js
  src/components/modal/header/__snapshots__/ModalHeader.test.js.snap
Due: lint, style, format

add forms with tests
  src/components/forms/Form.css
  src/components/forms/add-user/FormAddUser.js
  src/components/forms/add-user/FormAddUser.test.js
  src/components/forms/get-transactions/FormGetTransactions.js
  src/components/forms/get-transactions/FormGetTransactions.test.js
  src/components/forms/update-balance/FormUpdateBalance.js
  src/components/forms/update-balance/FormUpdateBalance.test.js
  src/components/forms/update-user/FormUpdateUser.js
  src/components/forms/update-user/FormUpdateUser.test.js
  src/utils/toRFC3339Date.js
Due: lint, style, format

add popover with tests
  src/components/popover/Popover.css
  src/components/popover/Popover.js
  src/components/popover/Popover.test.js
  src/components/popover/__snapshots__/Popover.test.js.snap
Due: lint, style, format

add buttons with tests
  src/components/buttons/button-modal-action/Button.js
  src/components/buttons/button-modal-action/Button.test.js
  src/components/buttons/button-modal-action/Buttons.css
  src/components/buttons/button-modal-action/__snapshots__/Button.test.js.snap
  src/components/buttons/button-open-modal/Button.css
  src/components/buttons/button-open-modal/Button.js
  src/components/buttons/button-open-modal/Button.test.js
  src/components/buttons/button-open-modal/__snapshots__/Button.test.js.snap
Due: lint, style, format

add snackbar with tests
  src/components/snackbar/Snackbar.css
  src/components/snackbar/Snackbar.js
  src/components/snackbar/Snackbar.test.js
  src/components/snackbar/__snapshots__/Snackbar.test.js.snap
Due: lint, style, format

add spinner
  src/components/spinner/Spinner.js
Due: lint, format

add transactions with tests
  src/components/transactions/Transactions.css
  src/components/transactions/Transactions.js
  src/components/transactions/Transactions.test.js
  src/components/transactions/__snapshots__/Transactions.test.js.snap
  src/components/transactions/transaction/Transaction.css
  src/components/transactions/transaction/Transaction.js
  src/components/transactions/transaction/Transaction.test.js
  src/components/transactions/transaction/__snapshots__/Transaction.test.js.snap
  src/components/transactions/transaction/virtual-item/VirtualItem.css
  src/components/transactions/transaction/virtual-item/VirtualItem.js
  src/components/transactions/transaction/virtual-item/VirtualItem.test.js
  src/components/transactions/transaction/virtual-item/__snapshots__/VirtualItem.test.js.snap
Due: lint, style, format

add modals and notifications logic in App
  src/App.css
  src/App.js
Due: lint, style, format

add e2e tests
  .qawolf/selectors/add-user.json
  .qawolf/selectors/get-transactions.json
  .qawolf/selectors/update-balance.json
  .qawolf/selectors/update-user.json
  .qawolf/tests/add-user.test.js
  .qawolf/tests/get-transactions.test.js
  .qawolf/tests/update-balance.test.js
  .qawolf/tests/update-user.test.js
Due: lint, format

extend CI
  .github/main.workflow
  .github/main.yml
  .github/workflows/qawolf.yml
Due: none

add new scripts in readme
  README.md
Due: none

change prop-types, add font-awesome in build system, tests in CI
  .github/workflows/qawolf.yml
  .qawolf/selectors/get-transactions.json
  .qawolf/selectors/update-user.json
  .qawolf/tests/add-user.test.js
  .qawolf/tests/get-transactions.test.js
  .qawolf/tests/update-balance.test.js
  .qawolf/tests/update-user.test.js
  package.json
  public/index.html
  src/components/buttons/button-modal-action/Button.js
  src/components/forms/add-user/FormAddUser.js
  src/components/forms/get-transactions/FormGetTransactions.js
  src/components/forms/update-balance/FormUpdateBalance.js
  src/components/forms/update-user/FormUpdateUser.js
  src/components/modal/__snapshots__/Modal.test.js.snap
  src/components/modal/footer/__snapshots__/ModalFooter.test.js.snap
  src/components/popover/Popover.js
  src/components/popover/__snapshots__/Popover.test.js.snap
  src/components/spinner/Spinner.js
  src/components/table/table-body/TableBody.js
  src/components/table/table-body/td/Td.js
  src/components/table/table-body/tr/__snapshots__/Tr.test.js.snap
  src/components/transactions/__snapshots__/Transactions.test.js.snap
  yarn.lock
Due: lint, format

configure e2e in CI
  .github/workflows/qawolf.yml
Due: none

add comments on business logic
  src/App.js
  src/components/table/Table.js
  src/components/table/table-body/tr/Tr.js
Due: lint, format

add IE 11 support, update tests
  package.json
  src/components/modal/Modal.js
  src/components/popover/Popover.js
  src/components/table/table-body/td/__snapshots__/Td.test.js.snap
  src/components/table/table-body/tr/__snapshots__/Tr.test.js.snap
  src/components/table/table-footer/__snapshots__/TableFooter.test.js.snap
  src/index.js
  yarn.lock
Due: lint, format

fix issue with margin IE
  src/components/header/Header.css
Due: style

add table adaptive
  src/components/table/Table.css
Due: style

fix issue with update-balance test
  src/components/popover/Popover.js
  yarn.lock
Due: lint, format

remove unused dependency
  package.json
Due: none

update tests and forms for new backend
  .env
  .qawolf/selectors/update-balance.json
  .qawolf/tests/get-transactions.test.js
  .qawolf/tests/update-balance.test.js
  src/components/forms/add-user/FormAddUser.js
  src/components/forms/get-transactions/FormGetTransactions.js
  src/components/forms/update-balance/FormUpdateBalance.js
  src/components/forms/update-balance/FormUpdateBalance.test.js
  src/components/forms/update-user/FormUpdateUser.js
  src/components/popover/Popover.js
  src/components/table/Table.js
  src/components/table/table-body/td/Td.js
  src/components/table/table-body/td/__snapshots__/Td.test.js.snap
  src/components/table/table-body/tr/__snapshots__/Tr.test.js.snap
  src/components/table/table-footer/TableFooter.js
  src/components/table/table-footer/__snapshots__/TableFooter.test.js.snap
  src/constants/api.js
Due: lint, format

fix offset issue
  src/components/table/Table.js
  src/components/table/table-footer/TableFooter.js
Due: lint, format

change update balance input label
  src/components/forms/update-balance/FormUpdateBalance.js
Due: lint, format

Update README.md
  README.md
Due: none

Path conditions:
  lint: any of: *.js
  style: any of: *.css
  format: any of: *.js
